/* frontend/src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

/* Styling global lainnya */
body {
  margin: 0;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Pixelify Sans', sans-serif; /* Terapkan font di sini */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#root, .App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}